.video-js.lvp {
  .vjs-big-play-button {
    position: absolute;
    font-size: 3em;
    width: 2em;
    height: 2em;
    left: 50%;
    top: 50%;
    border: 0;
    transform: translate(-50%, -50%);
    opacity: 0.9;
    background: transparent;

    &::before {
      content: "\e039";
      font-family: "Material Icons Outlined";
      font-size: 3em;
      width: auto;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &:hover .vjs-big-play-button {
    opacity: 1;
    transition-duration: 0.15s;
    background: transparent;
  }

  &.vjs-layout-large .vjs-big-play-button,
  &.vjs-layout-x-large .vjs-big-play-button {
    font-size: 4em;
  }
}
