.video-js.lvp {
  .vjs-control-bar .vjs-fullscreen-control {
    margin-left: auto;

    &::before {
      content: url("fullscreen.svg");
    }
  }

  &.vjs-fullscreen .vjs-control-bar .vjs-fullscreen-control::before {
    content: url("fullscreen_exit.svg");
  }
}
