.video-js.lvp {
  position: relative;
  overflow: hidden;

  .vjs-button {
    cursor: pointer;
    width: 6em;

    &::before {
      font-size: 1em;
      line-height: 1;
      height: auto;
      width: auto;
      top: 50%;
      left: 50%;
      height: 3.2em;
      width: 3.2em;
      transform: translate(-50%, -50%);
    }

    &:hover {
      filter: drop-shadow(white 0em 0em 1em);
    }

    &.vjs-disabled {
      cursor: default;
    }
  }

  &.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
    opacity: 1;
    bottom: -6em;
    transition: bottom 0.25s, opacity 0.25s;

    &::before {
      opacity: 0;
      transition-delay: 0.1s;
    }
  }
}

@keyframes vjs-spinner-fade {
  0% {
    border-top-color: $color-brand;
  }
  20% {
    border-top-color: $color-brand;
  }
  35% {
    border-top-color: white;
  }
  60% {
    border-top-color: $color-brand;
  }
  100% {
    border-top-color: $color-brand;
  }
}

@-webkit-keyframes vjs-spinner-fade {
  0% {
    border-top-color: $color-brand;
  }
  20% {
    border-top-color: $color-brand;
  }
  35% {
    border-top-color: white;
  }
  60% {
    border-top-color: $color-brand;
  }
  100% {
    border-top-color: $color-brand;
  }
}
