.video-js.lvp {
  .vjs-control-bar .vjs-mute-control {
    &.vjs-vol-0::before {
      content: url("volume_off.svg");
    }

    &.vjs-vol-1::before {
      content: url("volume_mute.svg");
    }

    &.vjs-vol-2::before {
      content: url("volume_down.svg");
    }

    &.vjs-vol-3::before {
      content: url("volume_up.svg");
    }
  }

  &.vjs-layout-x-small .vjs-control-bar .vjs-mute-control,
  &.vjs-layout-small .vjs-control-bar .vjs-mute-control {
    display: flex;
  }
}
