/* container */
.video-js.lvp {
  position: relative;
  overflow: hidden;
}

/* control bar */
.video-js.lvp .vjs-control-bar {
  bottom: 0;
  height: 6em;
  background: transparent;
  -webkit-transition: bottom 0.15s;
  -moz-transition: bottom 0.15s;
  -o-transition: bottom 0.15s;
  transition: bottom 0.15s;
}
.video-js.lvp.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
  opacity: 1;
  bottom: -6em;
  -webkit-transition: bottom 0.25s;
  -moz-transition: bottom 0.25s;
  -o-transition: bottom 0.25s;
  transition: bottom 0.25s;
}
.video-js.lvp .vjs-control-bar:before {
  content: '';
  display: block;
  position: absolute;
  pointer-events: none;
  width: 100%;
  bottom: 0;
  height: 9em;
  background: linear-gradient(rgba(17, 17, 17, 0), rgba(17, 17, 17, 0.9));
  -webkit-transition: opacity 0.15s;
  -moz-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  transition: opacity 0.15s;
}
.video-js.lvp.vjs-has-started.vjs-user-inactive.vjs-playing
  .vjs-control-bar:before {
  opacity: 0;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

/* button */
.video-js.lvp .vjs-control-bar .vjs-button {
  width: 6em;
}
.video-js.lvp .vjs-control-bar .vjs-button:before {
  font-size: 2.4em;
  height: auto;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* progress holder */
.video-js.lvp .vjs-control-bar .vjs-progress-holder {
  height: 0.6em;
}

/* progress control */
.video-js.lvp .vjs-control-bar .vjs-progress-control {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  left: 0;
  bottom: 6em;
  padding-left: 1em;
  padding-right: 1em;
  -webkit-transition: padding 0.15s;
  -moz-transition: padding 0.15s;
  -o-transition: padding 0.15s;
  transition: padding 0.15s;
}
.video-js.lvp.vjs-has-started.vjs-user-inactive.vjs-playing
  .vjs-control-bar
  .vjs-progress-control {
  padding-left: 0;
  padding-right: 0;
}

/* progress control slider */
.video-js.lvp .vjs-control-bar .vjs-progress-control .vjs-slider {
  margin: 0;
  background-color: rgba(238, 238, 238, 0.5);
}
.video-js.lvp.vjs-has-started.vjs-user-inactive.vjs-playing
  .vjs-control-bar
  .vjs-progress-control
  .vjs-slider {
  background-color: rgba(238, 238, 238, 0.2);
}

/* progress control load progress */
.video-js.lvp .vjs-control-bar .vjs-progress-control .vjs-load-progress div {
  background-color: rgba(238, 238, 238, 0.4);
}

/* progress control play progress */
.video-js.lvp .vjs-control-bar .vjs-progress-control .vjs-play-progress {
  background-color: var(--color-brand, rgba(238, 238, 238, 0.9));
}
.video-js.lvp
  .vjs-control-bar
  .vjs-progress-control
  .vjs-play-progress.vjs-slider-bar:before {
  content: '';
  height: 100%;
  top: 0;
  width: 1em;
  display: block;
  background-color: white;
}
.video-js.lvp
  .vjs-control-bar
  .vjs-progress-control
  .vjs-play-progress.vjs-slider-bar::after {
  display: none;
}

/* mute control */
.video-js.lvp.vjs-layout-x-small .vjs-control-bar .vjs-mute-control,
.video-js.lvp.vjs-layout-small .vjs-control-bar .vjs-mute-control {
  display: inline-block;
}

/* fullscreen control */
.video-js.lvp .vjs-control-bar .vjs-fullscreen-control {
  margin-left: auto;
}

/* play control */
.video-js.lvp .vjs-control-bar .vjs-play-control {
  position: relative;
  width: 6em;
}
.video-js.lvp .vjs-control-bar .vjs-play-control:before {
  z-index: 1;
}
.video-js.lvp .vjs-control-bar .vjs-play-control:after {
  content: '';
  display: block;
  position: absolute;
  width: 4em;
  height: 4em;
  top: 1em;
  left: 1em;
  border-radius: 50%;
  z-index: 0;
  border-width: 2px;
  border-style: solid;
  border-color: var(--color-brand, white);
  background-color: var(--color-brand, black);
}

/* time control */
.video-js.lvp .vjs-control-bar .vjs-time-control {
  display: flex;
  align-items: center;
  font-size: 1.2em;
}
.video-js.lvp.vjs-layout-small .vjs-control-bar .vjs-time-control {
  display: flex;
}
.video-js.lvp .vjs-control-bar .vjs-time-control.vjs-time-divider {
  padding-left: 0.25em;
  padding-right: 0.25em;
  min-width: 0;
  z-index: 1;
}
.video-js.lvp .vjs-control-bar .vjs-time-control.vjs-current-time {
  padding-left: 1em;
  padding-right: 0.5em;
}
.video-js.lvp .vjs-control-bar .vjs-time-control.vjs-duration {
  padding-left: 0.5em;
  padding-right: 1em;
}

/* volume control */
.video-js.lvp .vjs-control-bar .vjs-volume-control {
  max-width: 10em;
  width: 15%;
  margin-right: 3em;
}
.video-js.lvp .vjs-control-bar .vjs-volume-control .vjs-volume-bar {
  margin-left: 0;
  margin-right: 0;
  background-color: rgba(238, 238, 238, 0.5);
  width: 100%;
}
.video-js.lvp
  .vjs-control-bar
  .vjs-volume-control
  .vjs-volume-bar.vjs-slider-horizontal {
  height: 0.4em;
}
.video-js.lvp
  .vjs-control-bar
  .vjs-volume-control
  .vjs-volume-bar.vjs-slider-horizontal
  .vjs-volume-level {
  height: 0.4em;
  background-color: var(--color-brand, rgba(238, 238, 238, 0.9));
}
.video-js.lvp
  .vjs-control-bar
  .vjs-volume-control
  .vjs-volume-bar.vjs-slider-horizontal
  .vjs-volume-level:before {
  content: '';
  display: block;
  top: -0.3em;
  right: -0.5em;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  transition: box-shadow 0.15s;
}
.video-js.lvp
  .vjs-control-bar
  .vjs-volume-control
  .vjs-volume-bar.vjs-slider-horizontal:hover
  .vjs-volume-level:before,
.video-js.lvp
  .vjs-control-bar
  .vjs-volume-control
  .vjs-volume-bar.vjs-slider-horizontal.vjs-slider-active
  .vjs-volume-level:before {
  box-shadow: 0 0 0 0.8em rgba(238, 238, 238, 0.2);
}

/* big play button */
.video-js.lvp .vjs-big-play-button {
  position: absolute;
  font-size: 3em;
  width: 2em;
  height: 2em;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  border: 3px solid white;
  background-color: rgba(17, 17, 17, 0.9);
  transform: translate(-50%, -50%);
  opacity: 0.9;
}
.video-js.lvp:hover .vjs-big-play-button {
  opacity: 1;
  transition-duration: 0.15s;
}
.video-js.lvp .vjs-big-play-button:before {
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-js.lvp.vjs-layout-large .vjs-big-play-button {
  font-size: 5em;
}
.video-js.lvp.vjs-layout-medium .vjs-big-play-button {
  font-size: 4em;
}
